{% extends "base.html" %}
{% block nav %}
    <li>
        <a href="{% url 'home'%}">About</a>
    </li>
    <li>
        <a href={% url 'courses_info'%}>Courses</a>
    </li>
    <li id="logout">
        <a href={% url 'logout'%}>Logout</a>
    </li>
    <li>
        <a href={% url 'search'%}>Search</a>
    </li>
{% endblock %}
{% block content %}
    <a name="listing"></a>
    <div class="formcontainer">
            <div class = "error" style = "color:red;"> {{error}} </div>
			<h2 id = "header1" style = "margin-bottom: 30px;">Create a new listing</h2>
			<form action="/listing/" method="post">{% csrf_token %}
				{{ form }}	
		    	<div id="buttonstyle">
		            <input type="submit"  id="button" name="Submit" value="Submit Listing" class="pure-button pure-button-primary" />
				</div>
		    </form>
	</div>
{% endblock %}